<div class="main posts-show">
    <div class="container">
        <div class="posts-show-item">
            <%= @post.content %>
            <%= @post.created_at %>
            <h2>ここは詳細ぺーじ<%="#{@id}です"%></h2>
        </div>
    </div>
</div>