/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
 body{
     font-family: "Avenir Next","Hiragino Sans",sans-serif;
 }
header{
    background-color:darkcyan;
    height: 70px;
    padding:0;
    margin: 0;
    width: 100%;
    color: cornsilk;
}

.header-logo{
    float: left;
    font-weight: 300;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 20px;
    font-family: fantasy;
    padding-left:30px;
}

header li{
    margin-right: 30px;
    float: right;
    list-style: none;
    line-height: 70px;
}
.header-items{
    display: block;
    padding: 0 10px 0 10px;
}
header a{
    color:white;
}
header a:hover{
    color: black;
}
header li:hover{
    background-color: gainsboro;
    transition: 0.2s;
    border-radius: 20px;
}