// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-wrapper {
    padding: 0;
    height: 720px;
    background-color: powderblue;
    background-image: url("/burger.jpg");
}

h1 {
    color: white;
    text-align: center;
    letter-spacing: 15px;
    line-height: 120px;
    font-size: 60px;
}
h1:hover{
    color: yellow;
    transition: 0.3s;
}