// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-wrapper{
height: 240px;
background-color: powderblue;
}

h1{
    color:red;
    text-align: center;
    letter-spacing: 15px;
    line-height:120px
}