.users-heading{
    font-weight: 300;
    margin:60px 0 20px;
    font-size: 40px;
    color: #bcc8d4;
}

.users-index-item{
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    display: table;
    width: 100%;
}

